form > div{ /*Child Selector*/
    background-color: rgb(196, 196, 196);
}  
.textfield{ /*Class selector*/
    margin: 3px;
}

div p{/*Descendant Selector*/
    font-family:'Gill Sans MT';
}

button{
    margin: 3px;
    background-color: rgb(48, 186, 240);
}
button:hover{
    background-color: #f1f1f1;
    color: blue;
}
a:hover{
    opacity: 0.7;
}

.grid{
    margin: 30px ;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1ft 2ft;
}
.grid p {
    text-align: left;
    margin: 10px;
    
}
.grid-left {
    justify-content: center;
    text-align: center;
    margin: 10px;
}
#PostBody {
    height: 80px;
    flex-wrap: wrap;

}
#SelectFile {
    width:fit-content;
}