header{
    display: block;
    overflow: hidden;
    position: fixed;
    left: 0;
    right:0;
    margin: 0;
    top: 0;
    justify-content:space-around;
    z-index: 1;
    box-shadow: 5px 5px 15px 0 #999999;}

header > div{
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-between;
    width: 100%;
}
.header {
    padding: 20px;
    width: 80%;
    height: 30px;
}
.header a{
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Gill Sans MT', serif;
    font-weight: 200;
    letter-spacing: 2px;

}
header .material-symbols-outlined{
    padding: 20px;
    height: inherit;
    align-items: center;
    list-style: none;
    font-size: 34px;
}
form > div{ /*Child Selector*/
    background-color: rgb(196, 196, 196);
}
div p{/*Descendant Selector*/
    font-family: 'Gill Sans MT', serif;
}
