.feed {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    padding-top: 100px;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: auto;
    justify-content: flex-start;
    gap: 20px;
}

.post {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(196, 196, 196);
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-header > span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-img {
    right: 0;
    left: 0;
    margin: 0 auto;
    position: relative;
    width: 95%;
}

.post-img > img {
    width: 100%;
}

.post-content > p {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}