.flex-container{ /*Class Selector*/
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}
.textfield{ /*Class selector*/
    margin: 3px;

}

div p{/*Descendant Selector*/
    font-family:'Gill Sans MT';
}

h2{
    font-family:'Gill Sans MT';
    font-size: 21px;
}
h2 + p{ /*Adjacent Sibling Selector*/
    letter-spacing: 1px;
}

h2~p{ /*General Sibling Selector*/
    font-size: 16px;
    margin: 3px;
}

#psw { /*ID selector*/
    font-family:'Gill Sans MT';
    font-size: 13px;
    margin: 5px;
    letter-spacing: 1px;
    
}
#psw a:visited{
    text-decoration: none;
    color: #8420e8 ;
}
#create a{
    text-decoration:none;
}
#create a:visited{
    text-decoration: none;
    color: #e548ea;
}
a:link{ /*Pseudo-class Selector*/
    text-decoration: none;
}

#psw a:hover{
    opacity: 0.7;
    text-decoration: none;
    -webkit-text-fill-color: rgb(118, 244, 84);
    text-shadow: 1px 1px #99ab9a; 
}
#create a:hover{
    opacity: 0.7;
    text-decoration: none;
    -webkit-text-fill-color: rgb(118, 244, 84);
    text-shadow: 1px 1px #99ab9a; 
}
a:active{
    text-decoration: none;
}
/* button inspo https://freefrontend.com/css-buttons/ */
 .button{
    border: 5px;
    cursor: pointer;
    font-size: 12px;
  transform: translate(0);
  background-image: linear-gradient(45deg, #8420e8, #e548ea);
  padding: 0.7em 2em;
  border-radius: 65px;
  color: white;
  margin-bottom: 7px;

}
.inline .button:after{
    content: "";
    border-radius: 18px;
    position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.inline .button:hover{
    background-image: linear-gradient(45deg, #59dc45, #d6e020);
}
.inline{
    display: inline-block;
    margin-top: 5px;
    align-items: center;
}